@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import 'tailwindcss';

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.font-game {
    font-family: 'Press Start 2P', sans-serif;
}
